@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* Colors */
:root {
  /* Primary */
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  /* Neutral */
  --dark-gray: hsl(0, 0%, 59%);
  --white: #fff;
}

html,
body {
  background: var(--dark-cyan);
  font-family: "Kumbh Sans", sans-serif;
}
main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.pattern {
  position: absolute;
  width: 900px;
}
.top {
  bottom: 50%;
  right: 50%;
}
.bottom {
  top: 50%;
  left: 50%;
}
.card {
  height: 375px;
  width: 350px;
  position: relative;
  background: var(--white);
  border-radius: 15px;
}
.top img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.profile-pic {
  position: absolute;
  top: 25%;
  left: 38%;
}
.profile-pic img {
  border-radius: 50%;
  border: 5px solid var(--white);
}
.card-body {
  margin-top: 2.5rem;
}
.card-body h1 {
  text-align: center;
  font-size: 1rem;
  margin-top: 4rem;
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
}
.card-body h1 > span {
  color: var(--dark-gray);
  margin-left: 0.5rem;
  font-weight: 400;
}
.location {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: var(--dark-gray);
}
hr {
  margin-top: 1.75rem;
  opacity: 0.25;
}
.social {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.col {
  margin: 0 1rem;
  text-align: center;
}
.count {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}
.detail {
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--dark-gray);
}
